$font-family: 'Ubuntu', sans-serif;
$spacing-unit: 10px;

//* Colors
$primary-color: #341f0a;
$secundary-color: #FFDFC0;
$font-color: #ffffff;

$light-bg: #FFDFC0;
$light-text: #341f0a;
$dark-bg: #341f0a;
$dark-text: #ffffff;
//*********

body {
    background-color: $light-bg;
    transition: background-color 0.3s, color 0.3s;

    &.light-theme {
        background-color: $light-bg;
        color: $light-text;
    }

    &.dark-theme {
        background-color: $dark-bg;
        color: $dark-text;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: $font-family;
}


@mixin button-style {
    background-color: blue;
    color: $font-color;
    border: none;
    padding: $spacing-unit * 2;
    font-family: $font-family;
    cursor: pointer;
}

nav {
    background-color: $primary-color;
    display: flex;
    align-items: center;
    font-size: 30px;
}

.menu-principal {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-principal {
    li {
        margin-right: 20px;
    }
}

.menu-principal{    
    a {
        text-decoration: none;
        color: $font-color;
        font-weight: bold;
        padding: 8px 12px;
        margin-bottom: 15px;
        display: block;
    }
}

.submenu {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
    position: absolute;
    display: none;
    border-radius: 15px;
    background-color: $primary-color;
    z-index: 1;
}

.submenu {
    li {
        padding: 8px 12px;
    }
}

.submenu {
    a {
        color: $font-color;
        display: block;
    }
}

.menu-principal{
    li:hover .submenu {
        display: block;
    }
}    
    
.submenu {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.menu-principal {
    li:hover .submenu {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .menu-principal {
        flex-direction: column;
        text-align: center;
    }

    .menu-principal li {
        margin-bottom: 10px;
    }

    .submenu {
        position: relative;
        display: block;
        width: 100%;
    }
}

.brasil {
    padding: 5px;
    width: 120px;
    display: flex;
}

#pag-const {
    color: grey;
    display: flex;
    margin-top: 150px;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    
}

#bem-vindo {
        background-color: $primary-color;
        color: $font-color;
        margin-top: 150px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}

.logo-proj {
    margin-top: 0px;
    width: 300px;
    margin-bottom: 0px;
}

h2 {
    font-size: 35px;
    margin-top:50px;
    margin-bottom: -80px;
}
